.show-main
  .show-main__top
    .show-main__top__left-box
      .show-main__top__left-box__image-box
        = image_tag @review.image.url, size: "360x400", alt: "Image Comming Soon"
    .show-main__top__right-box
      .show-main__top__right-box__top
        = link_to  "/reviewers/#{@review.reviewer_id}" do
          .show-main__top__right-box__top__reviewer-image
            = image_tag @review.reviewer.image, size: "110x90", alt: "Image Comming Soon"
        .show-main__top__right-box__top__info
          .show-main__top__right-box__top__info__about-reviewer
          = link_to  "/reviewers/#{@review.reviewer_id}" do
            %span
              = @review.reviewer.reviewer_name
          = @review.created_at.strftime("%Yå¹´%mæœˆ%dæ—¥")
          .show-main__top__right-box__top__info__rate
            %p è©•ä¾¡
            %div{:id => "star-rate-#{@review.id}"}
              :javascript
                $('#star-rate-#{@review.id}').raty({
                  number: 5,
                  size: 36,
                  starOff: "#{asset_path('star-off.png')}",
                  starOn: "#{asset_path('star-on.png')}",
                  starHalf: "#{asset_path('star-half.png')}",
                  half: true,
                  readOnly: true,
                  score: "#{@review.rate}",
                  });              
          .show-main__top__right-box__top__info__about-ec
            = link_to @review.ec_amazon, target: :_blank do
              - if @review.ec_amazon.blank?
              - else
                = image_tag "Amazon_icon", size: "30x30", alt: "Image Comming Soon"
            = link_to @review.ec_rakuten, target: :_blank do
              - if @review.ec_rakuten.blank?
              - else            
                = image_tag "Rakuten-Icon", size: "30x30", alt: "Image Comming Soon"
            = link_to @review.ec_goodbeer, target: :_blank do
              - if @review.ec_goodbeer.blank?
              - else            
                = image_tag "goodbeer_logo", size: "70x30", alt: "Image Comming Soon"
      .show-main__top__right-box__bottom
        .show-main__top__right-box__bottom__beer-name
          = @review.beer_name
        .show-main__top__right-box__bottom__item-table
          %dl
            %dt ãƒ–ãƒªãƒ¥ãƒ¯ãƒªãƒ¼
            %dd
              = link_to "/breweries/#{@review.brewery_id}" do
                = @review.brewery.brewery_name
          %dl
            %dt ã‚¹ã‚¿ã‚¤ãƒ«
            %dd
              = link_to  "/styles/#{@review.style_id}" do
                = @review.style.beer_style
          %dl
            %dt ç”Ÿç”£åœ°
            %dd 
              = @review.brewery.brewery_country
              = @review.brewery.brewery_city
          %dl
            %dt ABVï¼ˆã‚¢ãƒ«ã‚³ãƒ¼ãƒ«åº¦æ•°ï¼‰
            %dd
              = @review.abv 
          %dl
            %dt IBUï¼ˆå›½éš›è‹¦å‘³å˜ä½ï¼‰
            %dd
              = @review.ibu
          %dl
            %dt é£²ã‚ã‚‹åº—
            %dd
              ï¼œ 
              = @review.beer_spot_city 
              ï¼ž
              = @review.beer_spot_name
          %dl
            %dt URL
            %dd
              = link_to @review.beer_spot_url, target: :_blank do
                = truncate(@review.beer_spot_url, :length => 35)

  .show-main__bottom
    .show-main__bottom__review-box
      = simple_format(@review.text)

    .show-main__bottom__toppage-btn
      = link_to root_path do
        TOPãƒšãƒ¼ã‚¸ã¸
  .show-main__comment
    .show-main__comment__top-box
      - if current_user
        = link_to "#{@review.id}/comments/new" do
          ðŸºã“ã®éº¦é…’ã®æ„Ÿæƒ³ã‚’æ›¸ã/é£²ã‚ã‚‹ãŠåº—ã‚’ã‚·ã‚§ã‚¢ã™ã‚‹
      - else
        = link_to "/users/sign_in" do
          âœ”ï¸Žã‚³ãƒ¡ãƒ³ãƒˆã«ã¯æ–°è¦ç™»éŒ²/ãƒ­ã‚°ã‚¤ãƒ³ãŒå¿…è¦ã§ã™
    .show-main__comment__bottom-box
      .show-main__comment__bottom-box__kannsou
        %h4 æ„Ÿæƒ³
        - if @comments
          - @comments.each do |comment|
            .show-main__comment__bottom-box__kannsou__content
              %p
                %div{:id => "comment-rate-#{comment.id}"}
                  :javascript
                    $('#comment-rate-#{comment.id}').raty({
                      number: 5,
                      size: 36,
                      starOff: "#{asset_path('star-off.png')}",
                      starOn: "#{asset_path('star-on.png')}",
                      starHalf: "#{asset_path('star-half.png')}",
                      half: true,
                      readOnly: true,
                      score: "#{comment.rate}",
                      });  
              %p       
                = comment.created_at.strftime("%Yå¹´%mæœˆ%dæ—¥")
              %p 
                = comment.text
      .show-main__comment__bottom-box__beer-spot
        %h4 é£²ã‚ã‚‹ãŠåº—
        - if @comments
          - @comments.each do |comment|
            .show-main__comment__bottom-box__beer-spot__content
              %p
                = comment.created_at.strftime("%Yå¹´%mæœˆ%dæ—¥")
              %p   
                ï¼œ 
                = comment.beer_spot_city
                ï¼ž
                = comment.beer_spot_name
              %p 
                = link_to comment.beer_spot_url do
                  = truncate(comment.beer_spot_url, :length => 45)
                  